.example-viewport {
    height: 400px;
    width: 300px;
    border: 1px solid black;
  }
   
  .example-item {
    padding: 25px;
    background:#17a2b8!important;
    color:#ffffff;
    margin-bottom: 2px;
    text-align: center;
    font-size: 20px;
  }